<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>上传产品图片</h2>
<hr/>
<form method="post"enctype="multipart/form-data" action="/addProductImage">
    <p>
        id<input type="text" name="productId">
    </p>
    <p>
        文件<input type="file" name="productImage">
    </p>
    <p>
        文件<input type="file" name="productImage">
    </p>
    <p>
        文件<input type="file" name="productImage">
    </p>
    <p>
        <input type="submit" value="上传">
    </p>
</form>
<h2>上传游记图片</h2>
<hr/>
<form method="post"enctype="multipart/form-data" action="/addNotesImage">
    <p>
        id<input type="text" name="notesId">
    </p>
    <p>
        文件<input type="file" name="notesImage">
    </p>
    <p>
        文件<input type="file" name="notesImage">
    </p>
    <p>
        文件<input type="file" name="notesImage">
    </p>
    <p>
        <input type="submit" value="上传">
    </p>
</form>

</body>
</html>